/*colors & fonts */
:root{
    --primary_color: #3d2514;
    --c2: #ffc045;
    --c3: #dcdcdc;
    --c4: #bf2222;
    --primary_fonts: 'Montserrat', sans-serif;
    --font_2: 'Bebas Neue', cursive;
    --font_3: 'Alfa Slab One', cursive;
    --fw_400: 400;
    --fw_500: 500;
    --fw_600: 600;
    --fw_700: 700;
}


/*fonts*/
/*
.fm{
    font-family: 'Montserrat', sans-serif;
}
.fm-400{ font-weight: 400 }
.fm-500{ font-weight: 500 }
.fm-600{ font-weight: 600 }
.fm-700{ font-weight: 700 }
*/



.logo_holder_area img{
    width: 200px;
    height: 50px;
}
.navbar_items_holder li a{
    color: var(--primary_color);
    font-size: 22px;
    font-family: var(--font_2);
    letter-spacing: 0.20em;
}
.top_bar img{
    height: 30px;
    width: 40px;
}
.top_bar a{ 
    font-family: --primary_fonts;
    font-size: 16px; 
    color: var(--primary_color);
    font-weight: var(--fw_700);
    text-decoration: none;
}

.header_holder{
   background-image: url(images/Rectangle.png);
}
.header_holder nav{
    background: none !important;
}



/*burger section start*/

.content_holder{
    margin: 120px 0px 30px 0px;
}
.content_holder h6{
    font-size: 24px;
    font-family: var(--font_2);
    font-weight: var(--fw_400);
    color: var(--primary_color);
    text-align: left;
    border: dashed 2px var(--primary_color);
    display: inline-block;
    padding: 10px 15px; 
}
.content_holder h1{
    font-size: 114px;
    font-family: var(--font_3);
    color: var(--primary_color);
    text-shadow: 0px 6px 0px #fee8bc;
    background-blend-mode: normal;
    margin: 0;padding: 0;
    display: inline-block;
    
}
.content_holder h4{
    font-size: 56px;
    font-family: var(--font_3);
    color: var(--primary_color);
    text-shadow: 0px 5px 0px #fee8bc;
    background-blend-mode: normal;
}


.circle_price{
    position: relative;
    display: inline-block;
    top: 490;left: 50;
}
.circle_price .image1{
    width: 120;
    height: 120;
}
.circle_price .price{
    width: 60;
    height: 60;
    position: absolute;
    left: 30;
    top: 25;
}

/*burger section end*/


/*three burger start*/

.burger_box1_content{
    position: relative;
    top: 10;left: 10;
}
.burger_box1_content .box1_inside{
    position: absolute;
}

.burger_box1_content .box1_inside h6{
    font-family: var(--font_2);
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
    color: #fff;
    font-weight: var(--fw_400);
}
.burger_box1_content .box1_inside h3{
    color: #fff;
    margin: 0;
    padding-left: 10px;
    font-weight: var(--fw_700);
}


.banner_box2_container{
    position: relative;
    top: 10;left: 10; 
}
.banner_box2_container h6{
    position: absolute;
    font-family: var(--font_2);
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
    color: #fff;
    font-weight: var(--fw_400);

}
.banner_box2_container h6 .span1{
    font-weight: 300;
    font-size: 20px
}

.banner_box2_container h6 .span2{
    font-weight: 500;
    font-size: 34px;
}







/*three burger ended*/













/*burger boxes 3*/
/*box1*/
.burger_box1_holder{
    min-height: 400px;
    width: 100%;
    background-image: url(images/Burger_Image1.png);
    background-repeat: no-repeat;
    background-size: contain
}
.burger_box1_holder .burger_box1{
    display: inline-block;
}
.burger_box1_holder .burger_box1 h6{
    font-family: var(--font_2);
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
    color: #fff;
    font-weight: var(--fw_400);

}
.burger_box1_holder .burger_box1 h3{
    color: #fff;
    margin: 0;
    padding-left: 10px;
    font-weight: var(--fw_700);
    
}
/*box1 ended*/

/*burger box2 start*/
.box_image2{
           background-image: url(images/burger_Image2.png);
            background-repeat: no-repeat;
            background-size: contain;
}
.box_image3{
            background-image: url(images/Image3.png) !important;
            background-repeat: no-repeat;
            background-size: contain;
}

.row_holder_for_burger_box2 .banner_box2_holder{
    height: 200px;
    width: 100%;
}

.row_holder_for_burger_box2 .banner_box2_holder h6{
     color: #fff;
    display: inline-block;
    font-family: var(--font_2);
    letter-spacing: 0.09em;
    padding: 30px 0px 0px 30px;
}

.row_holder_for_burger_box2 .banner_box2_holder h6 .span1{
    font-weight: 300;
    font-size: 20px
}

.row_holder_for_burger_box2 .banner_box2_holder h6 .span2{
    font-weight: 500;
    font-size: 34px;
}

/*box2 ended*/
/*ended*/


/*section_3 start*/
.section_3 .row button{
    font-family: var(--font_2);
    font-weight: var(--fw_700);
    font-size: 25px;
    background: var(--c2);
    padding: 10px 25px 10px 25px;
    margin: 0 auto;
    border: none;
    outline: o;
}
.section_3 .row2 h1{
    font-family: var(--font_3);
    font-size: 50px;
    padding: 20px;
}
.section_3 p{
/*    padding: 0px 250px 0px 250px;*/
    font-family: var(--primary_fonts);
    font-size: 16px;
}
.cbody h4{
    font-family: var(--font_2);
    font-size: 32px;
    font-weight: bold;
}
.cbody p{
    font-family: var(--primary_fonts);
    font-size: 16px;
    font-weight: 400;
}
.orderbtn{
    font-family: var(--font_3);
    font-size: 16px;
    padding: 15px 30px 15px 30px;
    color: #fff;
    border: none;
    background: #bf2222;
    border: solid 1px #bf2222;
    outline: none;
}
.event_section_box{
    box-shadow: rgba(0,0,0, 0.17) 10px 5px 10px;
}
.event_section_box h6{
    font-family: var(--font_2);
    font-size: 28px;
    letter-spacing: 0.06em;
    
}
.event_section_box h2{
    font-family: var(--font_3);
    font-size: 41px;
    color: var(--primary_color);
}
.event_section_box p{
    font-family: var(--primary_fonts);
    font-size: 18px;
}
.bullat_parent{
    background: red;
    display: inline-block;
    position: relative;
    
}
.bullat_parent .bullat_chaild{
    position: absolute;
    display: flex;
    top: 80;
}
.bullat_parent .bullat_chaild span{
    width: 17px;
    height: 17px;
    background: var(--c3);
    border-radius: 50%;
    margin-right: 6px
    
}
.bullat_parent .bullat_chaild .s1{
    background: var(--c2) !important;
}
.booking_table .booking_coloum h6{
    font-family: var(--font_2);
    color: var(--primary_color);
    font-size: 30px;
    letter-spacing: 0.06em;
}
.booking_table .booking_coloum h1{
    font-family: var(--font_3);
    color: var(--primary_color);
    font-size: 45px;
    letter-spacing: 0.06em;
}
.booking_table .booking_coloum input{
    font-family: var(--font_2);
    font-size: 20px;
    border: solid 1px var(--c3);
/*    color: var(--c3);*/
    
}
.booking_table .booking_coloum .fint_table_btn{
    background: var(--c4);
    font-family: var(--font_3);
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    outline: 0;
}
.right_image img{
   max-width: 80%;
    position: absolute;
    right: 0;
    top: 100;
    z-index: -1;
}
.left_image .img1{
    position: absolute;
    left: 0;
    
}
.left_image .img2{
    position: absolute;
    left: 200;
    top: 100;
    height: 300px;
}
.footer_background{
    background-image: url(images/footerbackground.png);
}
.footer_background .fc1 p{
    font-family: var(--primary_fonts);
    font-size: 16px;
    font-weight: 400;
}
.address_holder a{
    font-family: var(--font_2);
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    text-align: left;
    
}

.copy_right{
    flex: 0.5;
    justify-content: flex-start;
}
.copy_right a{
    font-family: var(--font_2);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}
.social_icons{
    flex: 0.5;
    justify-content:flex-end;
    text-align: right;
    
}
.social_icons a{
    display: inline-block;
    color: black;
    width: 29px;
    height: 29px;
    background: white;
    border-radius: 50%;
    text-align: center;
    padding: 6px 0px 0px 0px;
    margin-right: 5px;
}


@media screen and (max-width: 992px) {
    .content_holder{
    margin: 50px 0px 30px 0px;
}
 
.image_holder img{
    width: 100%;

}
.circle_price{
    top: 300;left: 50;
    position: relative;
}
.circle_price .image1{
    width: 80;
    height: 80;
}
.circle_price .price{
    width: 40;
    height: 40;
    left: 20;
    top: 20;
}

 .row_holder_for_burger_box2 .banner_box2_holder h6 .span1{
    font-size: 12px
}

.row_holder_for_burger_box2 .banner_box2_holder h6 .span2{
    font-size: 22px;
}
.right_image{ display: none;}
.left_image .img1{opacity: 0.3;}
.left_image .img2{opacity: 0.3;}    

}


@media screen and (max-width: 768px) {
    
 .circle_price{
    top: 300;left: 50;
}
.circle_price .image1{
    width: 80;
    height: 80;
}
.circle_price .price{
    width: 40;
    height: 40;
    left: 20;
    top: 20;
}
    
    
}

@media screen and (max-width: 576px) {
    .content_holder{
    margin: 30px 0px 30px 0px;
}
    
.content_holder h6{
    font-size: 16px;
    padding: 10px 15px; 
}
.content_holder h1{
    font-size: 80px;    
}
.content_holder h4{
    font-size: 32px;
}
    
.circle_price{
    width: 50%;
    }

.logo_holder{
    padding-top: 20px;
}
.logo_holder img{
    width: 150px;
    height: 40px;
}
.top_bar{
    text-align: right;  
}
.top_bar img{
    height: 23px;
    width: 30px;
}
.top_bar a{ 
    font-size: 12px; 

}

.navbar_holder .nav_bar ul{
    padding-top: 20px;
}
.navbar_holder .nav_bar ul li{
    margin-left: 25px;
}
.navbar_holder .nav_bar ul li a{
    font-size: 14px;
    letter-spacing: 0.10em;
}
    
    
    
}

@media screen and (max-width: 480px) {
.banner_box2_container{top: 0;left: 0; }
.banner_box2_container h6 .span1{font-size: 14px}
.banner_box2_container h6 .span2{font-size: 26px;}

    
.content_holder{
    margin: 30px 0px 0px 0px;
}
    
.content_holder h6{
    font-size: 14px;
    padding: 10px 15px; 
}
.content_holder h1{
    font-size: 60px;    
}
.content_holder h4{
    font-size: 28px;
}
    
 .circle_price{
    top: 200;left: 0;
} 
    
   /*box1*/
.burger_box1_holder{
    min-height: 320px;
    width: 100%;
    background-image: url(images/Burger_Image1.png);
    background-repeat: no-repeat;
    background-size: contain
} 

.row_holder_for_burger_box2 .banner_box2_holder{
    height: 150px;
    width: 100%;
}
    .footer_logo{
        width: 50%;
    }    

.row_holder_for_burger_box2 .banner_box2_holder h6{
    padding: 15px 0px 0px 5px;
}

.logo_holder_area img{
    width: 160px;
    height: 35px;
}

.left_image .img1{
    width: 70%;
    height: auto;
}
.left_image .img2{
    width: 60%;
    height: auto;
    left: 100;
} 

.address_holder a{
    font-size: 14px;   
}

    
}


@media screen and (max-width: 320px) {
  
.banner_box2_container h6 .span1{font-size: 12px}
.banner_box2_container h6 .span2{font-size: 20px;}
.address_holder a{ font-size: 12px; }  
 .circle_price{
    top: 100;left: 0;
}
.left_image .img2{ width: 40%; }
    
    
}
