body,
html {
    font-family: Lato, sans-serif;
    font-size: 10px;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: Ubuntu, sans-serif
}

body {
    padding: 6.6rem 0 0
}

.menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 1
}

.menu .navbar {
    padding: 0;
}

.menu .navbar-light .navbar-brand {
    padding: 0
}

.menu .navbar-light .navbar-brand span {
    font-size: 24px;
    font-weight: bold;
}

.menu .navbar-brand img {
    height: 4.5rem
}

.menu .navbar-expand-lg .navbar-nav {
    padding: 0 0 0 3rem
}

.menu .navbar-light .navbar-nav .nav-link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: initial;
    letter-spacing: 0;
    color: #1b1b1b;
    padding: 2.5rem
}

.menu .navbar-light .navbar-nav .nav-link:after {
    display: none
}

.menu .reqst_btn a , .reqst_btnModal {
    height: 4rem;
    border-radius: 3px;
    background-color: #11b46c;
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: initial;
    letter-spacing: 1.3px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 4rem;
    background-image: linear-gradient(45deg, #11b46c, #11955b, #2ef79e);

    border: none;
  

    background-size: 300% 100%;
  
    -webkit-box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: background-position 1.5s ease;
    -o-transition: background-position 1.5s ease;
    transition: background-position 1.5s ease;
}

.menu .dropdown:hover>.dropdown-menu {
    display: block;
}

.menu .navbar-nav .dropdown-menu {
    min-width: 0;
    padding: 2.7rem 5rem 2rem;
    top: 6.6rem;
    box-shadow: 0px 0px 10px #0A1F441A;
    min-height: 34.3rem;
    border: 0;
    border-radius: 3px;
}

.menu_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10rem;
    justify-content: space-between;
}

.menu .dropdown-item {
    position: relative;
    padding: 0;
    font-size: 1.4rem;
}


.menu .dropdown-menu a.dItemHead {
    color: #1b1b1b;
    letter-spacing: 0;
    font-weight: 700;
    padding-bottom: 3px;
    display: table;
    width: auto;
}

.menu .dropdown-menu a.dItemHead:hover {
    color: #1b1b1b;
}

.menu .dropdown-menu a.dItemHead:before {
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    transition: all .4s;
    background: #11b46c;
}

.menu .dropdown-menu a {
    line-height: 23px;
    background: none
}

.menu .dropdown-menu a:hover {
    color: #11b46c
}

.menu .dropdown-menu a small {
    display: block;
}

.menu .dropdown-item+.dropdown-item {
    padding: 1.5rem 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}


.banner {
    background: url(../images/slide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 92vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_innner {
    width: 40%
}

.banner h2 {
    font-size: 4.6rem;
    color: #fff;
    margin: 0 0 2.2rem;
}

.banner p {
    line-height: 26px;
    color: rgba(249, 253, 251, .73);
    font-size: 1.8rem;
    margin: 0 0 3rem;
}

.banner a.reqst_btn {
    width: 26.8rem;
    height: 5rem;
    border-radius: 3px;
    background-color: #11b46c;
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: initial;
    letter-spacing: 1.3px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-image: linear-gradient(45deg, #11b46c, #11955b, #2ef79e);


    background-size: 300% 100%;
 
    -webkit-box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: background-position 1.5s ease;
    -o-transition: background-position 1.5s ease;
    transition: background-position 1.5s ease;
}

.banner a.servicepricing {
    width: 26.8rem;
    color: #11b46c;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1.3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: 2rem 0 0
}

.it_solutions {
    padding: 8.8rem 0
}

.heading h1 {
    font-size: 3.6rem;
    line-height: 42px;
    color: #1b1b1b;
    font-weight: 400;
    margin: 0;
}

.heading p {
    font-size: 1.6rem;
    line-height: 24px;
    color: #616768;
    margin: 1rem 0 0;
}

.it_solutions_inner {
    padding: 8rem 0 0
}

.it_solutions_grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 34rem 34rem 34rem;
    grid-column-gap: 6rem;
}

.it_solutions_grid_inner {}

.it_solutions_grid_inner_title {
    display: flex;
    align-items: center;
}

.it_solutions_grid_inner_title svg {
    width: 40px;
    height: 40px
}

.it_solutions_grid_inner_title h3 {
    font-size: 2rem;
    color: #1b1b1b;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 2.4rem
}

.it_solutions_grid_inner p {
    font-size: 1.6rem;
    line-height: 24px;
    color: #616768;
    margin: 2rem 0 0;
}

.get_solution {
    background: #f6f6f8;
}

.get_solution_grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 20rem 20rem 20rem 20rem 20rem 20rem;
    grid-column-gap: 2rem;
}

.get_solution_grid_inner {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(10, 31, 68, .1);
    padding: 25px 30px;
    position: relative;
    border-radius: 3px;
}

.get_solution_icon {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: auto;
    background: #BCA16E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get_solution_icon svg {
    width: 30px;
    height: 30px;
}

.get_solution_grid_inner p {
    margin: 1.5rem 0 0;
    color: #1b1b1b;
    font-size: 1.5rem;
    line-height: 2.1rem;
    font-family: Ubuntu, sans-serif;
    font-weight: normal;
    text-align: center;
}

.specialized_offer_grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 16rem;
}

.specialized_offer_list {
    list-style-type: none;
    padding: 0
}

ul.specialized_offer_list li {
    text-align: left;
    font-size: 1.6rem;
    color: #616768;
    letter-spacing: normal;
    line-height: 22px;
    width: 100%;
    position: relative;
    padding: 0 0 0 30px;
}

ul.specialized_offer_list li::before {
    content: url(../images/tick_icon.svg);
    position: absolute;
    left: 0;
    top: 1px;
}

ul.specialized_offer_list li+li {
    margin-top: 2.8rem;
}

.ourservice_grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 54rem 54rem;
    grid-column-gap: 3rem;
}

.ourservice_grid_inner {
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(10, 31, 68, .1);
}

.ourservice_grid_img img {
    max-width: 100%
}

.ourservice_grid_content {
    padding: 3rem
}

.ourservice_grid_content h3 {
    color: #1b1b1b;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    line-height: normal;
}

.ourservice_grid_content p {
    font-size: 1.6rem;
    line-height: 24px;
    color: #616768;
    margin-bottom: 0;
}

.ourservice_grid_content p+p {
    margin-top: 1rem
}

.ourservice_grid_content_sub {
    padding: 1rem 0 0
}

.ourservice_grid_content_sub h3 {
    font-size: 1.8rem;
    margin-top: 2rem
}

.ourservice_grid_content_sub p {
    font-size: 1.4rem;
}

.it_consulting {}

.it_consulting .heading p {
    width: 60%;
    margin: 1.6rem auto 0;
}

.itconsulting_grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 56% 39%;
    grid-column-gap: 5%;
    align-items: center;
}

.itconsulting_grid_img {}

.itconsulting_grid_img img {
    max-width: 100%
}

.itconsulting_grid_content {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 1.6rem;
}

.itconsulting_grid_content_inner {}

.itconsulting_grid_content_inner h3 {
    font-size: 2.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 26px;
    letter-spacing: normal;
    color: #081510;
    margin-bottom: 0.8rem;
}

.itconsulting_grid_content_inner p {
    font-size: 1.6rem;
    line-height: 24px;
    color: #616768;
}

.number_managed {
    background: #201d29
}

.number_managed .heading h1 {
    color: #fff
}

.number_managed_grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.number_managed_grid_inner {
    display: table;
}

.number_managed_grid_inner+.number_managed_grid_inner {
    margin-right: 3.3rem;
}

.number_managed_grid_inner svg {
    width: 50px;
    height: 50px;
    fill: #BCA16E
}

.number_managed_grid_content {
    display: table-cell;
}

.number_managed_grid_content h3 {
    font-size: 1.8rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
    display: inline-block;
}

.number_managed_grid_content p {
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: rgba(249, 253, 251, .73);
    margin-bottom: 0;
}

.it_supportcompany_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 3rem;
    grid-column-gap: 3rem
}

.it_supportcompany_gridbox {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(10, 31, 68, .1);
    padding: 25px;
    position: relative;
    border-radius: 3px;
}

.it_supportcompany_gridbox h3 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: normal;
    color: #1b1b1b;
    margin: 0;
}

.it_supportcompany_gridbox h3 img {
    margin: 0 1.2rem 0 0
}

.it_supportcompany_gridbox h3 span {
    position: relative;
    top: 2px
}

.it_supportcompany_gridbox p {
    font-size: 1.6rem;
    line-height: 24px;
    color: #616768;
    margin: 1.4rem 0 0;
}

.it_supportcompany_gridbox a {
    font-size: 1.6rem;
    line-height: 24px;
    color: #11b46c;
    margin: 1.4rem 0 0;
    display: block;
}

.trustby {
    background: #f6f6f8;
}

.footer {
    padding: 8rem 0 0;
    background: #1b1b1b;
}

.footergrid {
    display: grid;
    grid-template-columns: 26rem 14rem 14rem 25rem;
    grid-column-gap: 10rem;
}

.footergrid_sect {}

.footergrid_sect img {
    margin-bottom: 1.8rem;
}

.footergrid_sect p {
    font-size: 1.4rem;
    color: rgb(255, 255, 255, .7);
    line-height: 20px;
    width: 93%;
    margin-bottom: 4rem;
}

.footergrid_sect p.prag {
    margin: 1.6rem 0 2rem;
}

.about {
    background: url(../images/about_slide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.f_about {}

.f_about h4 {
    font-size: 1.8rem;
    color: #fff;
    line-height: 20px;
    margin: 0;
}

.f_about a {
    font-size: 1.4rem;
    color: rgb(255, 255, 255, .7);
    line-height: 20px;
    margin: 1.6rem 0 0;
    text-decoration: none;
    display: block;
}

.f_about a:hover {
    color: #BCA16E
}

.f_about a.shareicon {
    display: inline-table;
    margin: 0
}

.f_about a.shareicon i {
    font-size: 2rem;
    color: rgb(255, 255, 255, .7);
    line-height: 20px;
    margin: 1.6rem 0 0;
    text-decoration: none;
    display: inline-table;
    margin: 0 2rem 0 0
}

.f_about a.shareicon i:hover {
    color: #BCA16E
}

.copyright {
    text-align: center;
    background: #111;
    font-size: 1.4rem;
    color: rgb(255, 255, 255, .7);
    padding: 1.6rem 0;
    margin: 4.5rem 0 0
}

.business_solut {}

.business_solut .it_solutions_grid_inner_title h3 {
    padding: 0
}

.ceomesg {
    background: #f6f6f8
}

.ceomesg_grid {
    display: grid;
    grid-template-columns: 30rem auto;
    grid-column-gap: 5rem;
    align-items: center;
}

.ceo_content {}

.ceo_content h5 {
    font-family: Ubuntu, sans-serif;
    color: #bca16e;
    font-size: 1.8rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: .53px;
}

.ceo_content h3 {
    font-size: 2rem;
    color: #081510;
    margin-bottom: 2rem;
}

.ceo_content p {
    font-size: 1.6rem;
    color: #616768;
    line-height: 24px;
}

.management_team {
    background: #fff
}

.management_team .ourservice_grid {
    grid-row-gap: 3rem
}

.management_team .ourservice_grid .ourservice_grid_inner {
    display: grid;
    grid-template-columns: 40% 60%;
}

.management_team .ourservice_grid .ourservice_grid_inner .ourservice_grid_content p.green_color {
    color: #11b46c
}

.our_process {
    background: #201d29;
}

.our_process .heading h1 {
    color: #fff;
}

.our_processgrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    grid-column-gap: 4.8rem;
}

.our_processgrid_inner {
    text-align: center;
    max-width: 25rem;
}

.our_processgrid_inner span {
    background: #bca16e;
    color: #1b1b1b;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.8rem;
    font-size: 2.4rem;
    font-weight: 500;
    font-family: Ubuntu, sans-serif;
}

.our_processgrid_inner h2 {
    font-size: 2rem;
    color: #fff;
    margin: 0
}

.our_processgrid_inner p {
    font-size: 1.6rem;
    color: rgba(249, 253, 251, .73);
    line-height: 20px;
    margin: 1.5rem 0 0
}

.trustby_b {
    background: #fff
}

.contactus_form {
    width: 58rem;
    margin: auto;
}

.field {
    margin-bottom: 3.2rem;
}

.field label {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 0 .6rem;
    color: #201d29;
}

.field input.form-control,
.field textarea.form-control {
    border: 0;
    font-size: 1.6rem;
    height: 4.4rem;
    padding: 0 2.4rem;
    background: #fff;
    color: #929c9d;
    border-radius: 0;
}

.field textarea.form-control {
    min-height: 17.1rem;
    padding: 1rem 2.4rem;
    resize: none;
}

.field button[type='submit'] {
    width: 26.8rem;
    height: 5rem;
    margin: auto;
    border-radius: 3px;
    background-color: #11b46c;
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: initial;
    letter-spacing: 1.3px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.field:last-child {
    margin: 0
}

.contact_details {
    display: grid;
    grid-template-columns: 29.6rem 29.6rem 29.6rem;
    grid-column-gap: 2.4rem;
    justify-content: center;
}

.contact_details_element {
    background: #fff;
    justify-content: center;
    text-align: center;
    padding: 5.3rem 1rem;
    box-shadow: 0 0 10px 0 rgba(10, 31, 68, 0.1);
    border-radius: 3px;
}

.contact_details_element i {
    font-size: 3.6rem;
    color: #BCA16E
}

.contact_details_element h4 {
    color: #081510;
    font-size: 2.4rem;
    margin: 2rem 0 0 0;
}

.contact_details_element h6 {
    color: #616768;
    font-size: 1.6rem;
    margin: 1.1rem 0 0 0;
}

.service_colapse .accordion {
    width: 90rem;
    margin: auto;
}

.service_colapse .accordion .card {
    border: 0;
    border-top: 1px solid #e3e3e3;
    background: none
}

.service_colapse .accordion .card .card-header {
    padding: 0;
    border: 0;
    margin: 0;
    background: none
}

.service_colapse .accordion .card .card-header h2 button {
    font-family: Ubuntu, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #1b1b1b;
    padding: 1.5rem 3rem;
    border: 0;
    background: none;
    box-shadow: none;
    text-decoration: none
}

.service_colapse .accordion .card .card-header h2 button i {
    float: right;
    color: #ae8942
}

.service_colapse .accordion .card .card-header h2 button i.fa-minus {
    display: none
}

.service_colapse .accordion .card .card-header h2 button[aria-expanded="true"] {}

.service_colapse .accordion .card .card-header h2 button[aria-expanded="true"] i.fa-plus {
    display: none
}

.service_colapse .accordion .card .card-header h2 button[aria-expanded="true"] i.fa-minus {
    display: block;
}

.service_colapse .accordion .card .card-body {
    font-size: 1.6rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #494c4d;
    padding: 1.2rem 3rem 2.4rem;
}

.service_colapse .accordion .card .card-body p {
    margin-bottom: .2rem;
}

.service_colapse .accordion .card .card-body ul {
    margin: 2rem 0
}

.service_colapse .accordion .card .card-body ul li {
    list-style-type: none;
    padding: .5rem 0
}

.service_colapse .accordion .card .card-body ul li i {
    margin: 0 1rem 0 0;
    opacity: .8
}

.service_colapse .accordion .card .card-body a {
    color: #ae8942
}


.service_colapse .accordion .card .card-body a.learnmore {
    margin: 2rem 0 0;
    display: block;
}

.it_solutions_detail {
    background: #f6f6f8
}

.it_solutions_detail .ourservice_grid_inner {
    background: none;
    box-shadow: none;
    width: 80%;
    margin: auto;
}

.it_solutions_detail .ourservice_grid_img img {
    width: 100%
}


.it_solutions_detail .ourservice_grid_content {
    padding: 3rem 0 0
}

.consulting_benefits {
    background: #f6f6f8
}

.consulting_benefits .get_solution_grid {
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}

.consulting_benefits .get_solution_grid h3 {
    text-align: center;
    margin: 2rem 0 0
}

.consulting_benefits .get_solution_grid p {
    text-align: center;
    margin: 1rem 0 0
}





@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}
.modal__overlay {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.modal__overlay.hidden {
    display: none;
}

.modal__wrapper {
    font-size: 18px;
    padding: 20px 30px;
    width: 100%;
    -webkit-box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 20%;
 
    left: 50%;
    max-width: 500px;
    z-index: 2;
    transform: translateX(-50%);
    background: whitesmoke;
    opacity: 1;
    pointer-events: auto;
    
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.2s ease;
    transition: transform 0.3s ease, opacity 0.2s ease;
    transition: transform 0.3s ease, opacity 0.2s ease,
        -webkit-transform 0.3s ease;
}

.modal__wrapper.hidden {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translate(-50px);
    -ms-transform: translate(-50px);
    transform: translate(-50px);
}

.modal__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin: 0;
}

.modal__close {
    background: none;
    border: none;
  
    cursor: pointer;
    margin: -30px -20px 0 0;

    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.modal__close p {
    background-color: red;
    font-size: 3rem;
    font-weight: 900;
  background: #bca16e;
    background-size: 100%;
    background-repeat: repeat;
    margin:0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal__close:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.modal__wrapper h2{
   
}
.modal__wrapper input{
    height: 50px;
    font-size: 16px;
    border-radius: 3px;
}

.reqst_btn a:hover ,  a.reqst_btn:hover, .reqst_btnModal:hover{
    background-position: 100% 0;
    -webkit-transition: background-position 0.5s ease;
    -o-transition: background-position 0.5s ease;
    transition: background-position 0.5s ease;
    text-decoration: none;
    color: #fff;
}

@media (min-width:1199px) and (max-width:1330px) {
    .get_solution_grid {
        grid-template-columns: 18rem 18rem 18rem 18rem 18rem 18rem;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .banner {
        height: auto;
        padding: 15rem 0px;
        background-position: center right;
    }

    .it_solutions_grid {
        grid-template-columns: 28rem 28rem 28rem;
        grid-column-gap: 3rem;
    }

    .get_solution_grid {
        grid-template-columns: 20rem 20rem 20rem;
        grid-row-gap: 3rem
    }

    .ourservice_grid {
        grid-template-columns: 50% 50%;
    }

    .footergrid {
        grid-template-columns: 25rem 12rem 12rem 23rem;
        grid-column-gap: 7rem;
    }

    .management_team .ourservice_grid {
        grid-template-columns: 36rem 36rem;
    }

    .management_team .ourservice_grid .ourservice_grid_inner {
        grid-template-columns: auto;
    }

    .our_processgrid {
        grid-column-gap: 1.8rem;
    }

    .get_solution_grid_inner {
        padding: 25px 13px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .menu {
        padding: 1rem 0
    }

    .navbar-light .navbar-toggler {
        padding: .5rem 1.3rem;
        background: #11b46c;
        font-size: 1.6rem;
        color: #fff;
        border-color: #11b46c;
    }

    .menu .navbar-expand-lg .navbar-nav {
        padding: 2rem 0 0
    }

    .menu .navbar-light .navbar-nav .nav-link {
        padding: 1.5rem
    }

    .banner {
        height: auto;
        padding: 15rem 0;
    }

    .banner_innner {
        width: auto;
    }

    .it_solutions_grid {
        grid-template-columns: 42rem;
        grid-column-gap: 0;
        grid-row-gap: 3rem;
    }

    .it_solutions_grid_inner p {
        margin: 1rem 0 0
    }

    .get_solution_grid {
        grid-template-columns: 20rem 20rem 20rem;
        grid-row-gap: 3rem
    }

    .ourservice_grid {
        grid-template-columns: 54rem;
        grid-row-gap: 3rem;
    }

    .itconsulting_grid {
        grid-template-columns: 54rem;
        grid-row-gap: 6rem;
    }

    .number_managed_grid {
        grid-template-columns: 23rem 20rem;
        grid-column-gap: 7rem;
        grid-row-gap: 3rem;
        justify-content: center;
    }

    .number_managed_grid_inner {}

    .number_managed_grid_inner+.number_managed_grid_inner {
        margin: 0
    }

    .number_managed_grid_content {
        width: 100%;
        vertical-align: top;
        padding: 0 0 0 2rem;
    }

    .it_supportcompany_grid {
        grid-template-columns: auto auto;
    }

    .it_supportcompany_gridbox h3 {
        font-size: 1.8rem
    }

    .it_supportcompany_gridbox p {
        min-height: 10rem
    }

    .trustby .it_solutions_inner {
        width: 280px;
        display: table;
        margin: auto;
    }

    .carousel-inner .carousel-item>div:first-child {
        max-width: 100%;
        flex: 0 0 100%
    }

    .footergrid {
        grid-template-columns: 37rem 23rem;
        grid-column-gap: 5rem;
    }

    .footergrid_sect:nth-child(3) {
        order: 3
    }

    .footergrid_sect:nth-child(2) {
        order: 4
    }

    .ceomesg_grid {
        grid-column-gap: 3rem;
    }

    .our_processgrid {
        grid-row-gap: 5rem;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .our_processgrid_inner {
        max-width: 20rem;
    }

    .service_colapse .accordion {
        width: 100%
    }

    .it_solutions_detail .ourservice_grid_inner {
        width: 90%
    }

    .consulting_benefits .get_solution_grid {
        grid-template-columns: 22rem 22rem;
    }

    .contact_details {
        grid-template-columns: 31% 31% 31%
    }

}

@media (min-width:481px) and (max-width:767px) {
    .menu {
        padding: 1rem 0
    }

    .navbar-light .navbar-toggler {
        padding: .5rem 1.3rem;
        background: #11b46c;
        font-size: 1.6rem;
        color: #fff;
        border-color: #11b46c;
    }

    .menu .navbar-expand-lg .navbar-nav {
        padding: 2rem 0 0
    }

    .menu .navbar-light .navbar-nav .nav-link {
        padding: 1rem 0
    }

    .menu .navbar-nav .dropdown-menu {
        min-height: inherit;
        padding: 2rem 3rem
    }

    .menu_grid {
        grid-column-gap: 0;
        grid-row-gap: 3rem;
        grid-template-columns: 100%;
        height: 24rem;
        overflow-y: scroll;
    }

    .banner {
        height: initial;
        padding: 6rem 0;
    }

    .banner h2 {
        font-size: 2.8rem
    }

    .banner_innner {
        width: auto;
    }

    .banner a.reqst_btn {
        margin: auto;
    }

    .banner a.servicepricing {
        width: auto;
    }

    .it_solutions {
        padding: 5rem 0
    }

    .heading h1 {
        font-size: 2.4rem;
        line-height: 30px;
    }

    .heading p br {
        display: none
    }

    .it_solutions_inner {
        padding: 4rem 0 0
    }

    .it_solutions_grid {
        grid-template-columns: auto;
        grid-column-gap: 0;
        grid-row-gap: 4rem;
    }

    .it_solutions_grid_inner_title h3 {
        padding: 0 0 0 1.4rem
    }

    .it_solutions_grid_inner p {
        margin: 1rem 0 0
    }

    .get_solution_grid {
        grid-template-columns: 21rem 21rem;
        grid-row-gap: 3rem
    }

    .specialized_offer_grid {
        grid-template-columns: auto auto;
        grid-column-gap: 8rem;
    }

    .ourservice_grid {
        grid-template-columns: 100%;
        grid-row-gap: 2rem;
    }

    .ourservice_grid_img img {
        width: 100%
    }

    .itconsulting_grid {
        grid-template-columns: auto;
        grid-row-gap: 4rem;
    }

    .itconsulting_grid_content_inner h3 {
        font-size: 1.8rem
    }

    .it_consulting .heading p {
        width: 100%
    }

    .number_managed_grid {
        grid-template-columns: 23rem;
        grid-column-gap: 0;
        grid-row-gap: 3rem;
        justify-content: center;
    }

    .number_managed_grid_inner {}

    .number_managed_grid_inner+.number_managed_grid_inner {
        margin: 0
    }

    .number_managed_grid_content {
        width: 100%;
        vertical-align: top;
        padding: 0 0 0 2rem;
    }

    .it_supportcompany_grid {
        grid-template-columns: auto;
        grid-row-gap: 2rem;
    }

    .it_supportcompany_gridbox h3 {
        font-size: 1.8rem
    }

    .trustby .it_solutions_inner {
        width: 280px;
        display: table;
        margin: auto;
    }

    .carousel-inner .carousel-item>div:first-child {
        max-width: 100%;
        flex: 0 0 100%
    }

    .footer {
        padding: 4rem 0 0
    }

    .footergrid {
        grid-template-columns: auto;
        grid-column-gap: 5rem;
    }

    .footergrid_sect p {
        width: 100%;
        margin-bottom: 3rem;
    }

    .footergrid_sect:nth-child(3) {
        order: 3
    }

    .footergrid_sect:nth-child(2) {
        order: 4;
        margin-top: 3rem
    }

    .ceomesg_grid {
        grid-template-columns: 100%;
        justify-content: center;
        grid-row-gap: 4rem
    }

    .our_processgrid {
        grid-template-columns: auto;
        justify-content: center;
        grid-row-gap: 4rem
    }

    .ourservice_grid_content {
        padding: 2.5rem
    }

    .our_processgrid_inner p {
        margin: 1rem 0 0
    }

    .service_colapse .accordion {
        width: 100%
    }

    .service_colapse .accordion .card .card-header h2 button {
        font-size: 1.7rem
    }

    .it_solutions_detail .ourservice_grid_inner {
        width: 90%
    }

    .consulting_benefits .get_solution_grid {
        grid-template-columns: 22rem 22rem;
    }

    .contactus_form {
        width: 90%
    }

    .field {
        margin-bottom: 2rem
    }

    .field label {
        font-size: 1.4rem
    }

    .contact_details {
        grid-template-columns: 30rem;
        grid-row-gap: 3rem
    }

    .contact_details_element i {
        font-size: 2.6rem
    }

    .contact_details_element h4 {
        font-size: 2rem
    }

    .contact_details_element h6 {
        font-size: 1.5rem
    }
        .modal__wrapper{
        max-width: 420px;
    }
}

@media (min-width:320px) and (max-width:480px) {
    .menu {
        padding: 1rem 0
    }

    .navbar-light .navbar-toggler {
        padding: .5rem 1.3rem;
        background: #11b46c;
        font-size: 1.6rem;
        color: #fff;
        border-color: #11b46c;
    }

    .menu .navbar-expand-lg .navbar-nav {
        padding: 2rem 0 0
    }

    .menu .navbar-light .navbar-nav .nav-link {
        padding: 1rem 0
    }

    .menu .navbar-nav .dropdown-menu {
        min-height: inherit;
        padding: 2rem 3rem
    }

    .menu_grid {
        grid-column-gap: 0;
        grid-row-gap: 3rem;
        grid-template-columns: 100%;
        height: 24rem;
        overflow-y: scroll;
    }

    .banner {
        height: initial;
        padding: 6rem 0;
    }

    .banner h2 {
        font-size: 2.8rem
    }

    .banner_innner {
        width: auto;
    }

    .banner a.reqst_btn {
        margin: auto;
    }

    .banner a.servicepricing {
        width: auto;
    }

    .it_solutions {
        padding: 5rem 0
    }

    .heading h1 {
        font-size: 2.4rem;
        line-height: 30px;
    }

    .heading p br {
        display: none
    }

    .it_solutions_inner {
        padding: 4rem 0 0
    }

    .it_solutions_grid {
        grid-template-columns: auto;
        grid-column-gap: 0;
        grid-row-gap: 4rem;
    }

    .it_solutions_grid_inner_title h3 {
        padding: 0 0 0 1.4rem;
        font-size: 1.8rem
    }

    .it_solutions_grid_inner p {
        margin: 1rem 0 0
    }

    .get_solution_grid {
        grid-template-columns: 22rem;
        grid-row-gap: 3rem
    }

    .specialized_offer_grid {
        grid-template-columns: auto;
    }

    .specialized_offer_list+.specialized_offer_list {
        padding: 1.5rem 0 0
    }

    .ourservice_grid {
        grid-template-columns: auto;
        grid-row-gap: 2rem;
    }

    .itconsulting_grid {
        grid-template-columns: auto;
        grid-row-gap: 4rem;
    }

    .itconsulting_grid_content_inner h3 {
        font-size: 1.8rem
    }

    .it_consulting .heading p {
        width: 100%
    }

    .number_managed_grid {
        grid-template-columns: 23rem;
        grid-column-gap: 0;
        grid-row-gap: 3rem;
        justify-content: center;
    }

    .number_managed_grid_inner {}

    .number_managed_grid_inner+.number_managed_grid_inner {
        margin: 0
    }

    .number_managed_grid_content {
        width: 100%;
        vertical-align: top;
        padding: 0 0 0 2rem;
    }

    .it_supportcompany_grid {
        grid-template-columns: auto;
        grid-row-gap: 2rem;
    }

    .it_supportcompany_gridbox h3 {
        font-size: 1.8rem
    }

    .trustby .it_solutions_inner {
        width: 280px;
        display: table;
        margin: auto;
    }

    .carousel-inner .carousel-item>div:first-child {
        max-width: 100%;
        flex: 0 0 100%
    }

    .footer {
        padding: 4rem 0 0
    }

    .footergrid {
        grid-template-columns: auto;
        grid-column-gap: 5rem;
    }

    .footergrid_sect p {
        width: 100%;
        margin-bottom: 3rem;
    }

    .footergrid_sect:nth-child(3) {
        order: 3
    }

    .footergrid_sect:nth-child(2) {
        order: 4;
        margin-top: 3rem
    }

    .ceomesg_grid {
        grid-template-columns: 90%;
        justify-content: center;
        grid-row-gap: 4rem
    }

    .our_processgrid {
        grid-template-columns: auto;
        justify-content: center;
        grid-row-gap: 4rem
    }

    .management_team .ourservice_grid .ourservice_grid_inner {
        grid-template-columns: auto;
    }

    .ourservice_grid_content {
        padding: 2.5rem
    }

    .our_processgrid_inner p {
        margin: 1rem 0 0
    }

    .service_colapse .accordion {
        width: 100%
    }

    .service_colapse .accordion .card .card-header h2 button {
        font-size: 1.7rem;
        padding: 1.2rem 2rem
    }

    .service_colapse .accordion .card .card-body {
        padding: 1.2rem 2rem 2.4rem
    }

    .service_colapse .accordion .card .card-body ul {
        padding: 0 0 0 2rem
    }

    .it_solutions_detail .ourservice_grid_inner {
        width: 100%
    }

    .it_solutions_detail .ourservice_grid_content {
        padding: 2rem 0 0
    }

    .consulting_benefits .get_solution_grid {
        grid-template-columns: 26rem;
    }

    .contactus_form {
        width: 96%
    }

    .field {
        margin-bottom: 2rem
    }

    .field label {
        font-size: 1.4rem
    }

    .contact_details {
        grid-template-columns: 30rem;
        grid-row-gap: 3rem
    }

    .contact_details_element i {
        font-size: 2.6rem
    }

    .contact_details_element h4 {
        font-size: 2rem
    }

    .contact_details_element h6 {
        font-size: 1.5rem
    }
    .modal__wrapper{
        max-width: 320px;
    }
}

